<% content_for(:title, t('.result')) %>
<div id='before_animation'>
  <div id="load">
      <div class='fontsize1'>す</div>
      <div class='fontsize2'>で</div>
      <div class='fontsize3'>中</div>
      <div class='fontsize4'>断</div>
      <div class='fontsize5'>診</div>
    </div>
  </div>
</div>

<h1 class='text-center' id='before_h1'>あなたへのおすすめの虫は...</h1>

<div id="particles-js"></div>
<div class="row result-area mb-5">
  <div class="col-8 mx-auto result-insect-area p-2 rounded text-center">
      <h2 class="mb-5 insect-name texe-center"><%= ::Temple::Utils.escape_html(@result_insect.name) %></h2>
      <%= image_tag @result_insect.insect_img.url, class: 'd-block mx-auto mb-3', width: '350' %>
      <div class="row">
        <div class="col">
          <h3 class="mb-3 p-0"><%= t('.result')%></h3>
          <div id="star-rate-<%= @result.id %>"></div>
          <div class="eval-star my-3">
            <%= @result.score %>/5点
          </div>

          <h4 class='text-center p-0'><%= @result.rank_comment %></h4>

        </div>
        <div class='d-flex w-100 justify-content-center my-3'>
          <div class="form-footer mr-4 p-0">
            <p><%= link_to t('.insect_show'), insect_path(@result_insect)%></p>
          </div>
          <div class="form-footer p-0">
            <p><%= link_to t(".go_to_toppage"), root_path %></p>
          </div>
          <div class='twitter-button'>
            <%= link_to "https://twitter.com/share?&url=https://insect-food.jp&text=あなたのへのおすすめの虫は【#{@result_insect.name}】です！&hashtags=InsectFood,昆虫食,昆虫,ゲテモノ,診断&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer' do %>
              <i class="fab fa-twitter share-button"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
   $('#star-rate-<%= @result.id %>').empty()
    $('#star-rate-<%= @result.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      readOnly: true,
      score: <%= @result.score %>,
    });
   </script>
